// cores

$corPrincipal: #2d3436;
$corSecundaria: #00cec9;
$corbuttons: #636e72;
$corDeTexto: #d63031;
$corSecundariaDeTexto: #fff;

// FonteDeTextos 

$fontePrincipal: 'Jacquard 12', serif;

// Breakpoints

$mobile: 767px;
$tablet: 1023px;